<section class="hero">
  <div class="container">
    <h1>Welcome to our collection of premium watches</h1>

    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            src="./img/clock-menu\clock-menu-mob1.png"
            alt="swatch slide 1"
            width="226"
            height="190"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/clock-menu\clock-menu-mob2.png"
            alt="swatch slide 2"
            width="226"
            height="190"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/clock-menu\clock-menu-mob3.png"
            alt="swatch slide 3"
            width="226"
            height="190"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/clock-menu\clock-menu-mob4.png"
            alt="swatch slide 3"
            width="226"
            height="200"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/clock-menu\clock-menu-mob5.png"
            alt="swatch slide 3"
            width="266"
            height="200"
          />
        </div>
      </div>
      <!-- If we need navigation buttons -->
    </div>
    <div class="slider-nav">
      <div class="slider-button-prev">
        <svg class="swipe-arrow">
          <use href="./img/icons.svg#icon-slider-left-mobile"></use>
        </svg>
      </div>
      <div class="slider-button-next">
        <svg class="swipe-arrow">
          <use href="./img/icons.svg#icon-slider-right-mobile"></use>
        </svg>
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination">
      </div> -->
    </div>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <img
      src="./img/hero-clock/hero-clock-mobile.jpg"
      alt="swatch slide 2"
      width="226"
      height="190"
    />
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</section>
