<section>
  <h1>Welcome to our collection of premium watches</h1>
  <p>
    Our watches are not just timepieces, but also an expression of your
    personality and lifestyle. From classic designs to modern ones, we have a
    watch to suit every taste and occasion.
  </p>

  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="./img/vite-logo.png" alt="" width="300" />
      </div>
      <div class="swiper-slide">
        <img src="./img/vite-logo.png" alt="" width="300" />
      </div>
      <div class="swiper-slide">
        <img src="./img/vite-logo.png" alt="" width="300" />
      </div>
      ...
    </div>
    <!-- If we need navigation buttons -->
    <div class="slider-nav">
      <div class="slider-button-prev"></div>
      <div class="slider-button-next"></div>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</section>
