<section class="form-container container">
    <div class="clock-block">
     <img class="clock" src="" alt="clock">
     <h2 class="name-clock">Tube Watch S42 Date Steel With Black Case</h2>
     <p class="price">€395</p>
     
    </div>

    <div class="form-block">
        <form class="form">

            <label class="l-l">
                Full name
                <input type="text" class="i-t" name="name" placeholder="Enter your full name">
            </label>

            <label class="l-l">
                Email
                <input type="email" id="email" name="email" class="i-t" placeholder="Enter your email">
            </label>

            <label class="l-l">
                Card number
                <input type="tel" class="i-t" placeholder="Enter card" name="tel" id="tel">
            </label>

            <div class="groups" role="group">
                <label for="feedback" class="l-l">Comments</label>
                <textarea class="tx-area" name="feedback" id="feedback" rows="10" placeholder="Enter your text"></textarea>
            </div>

            <button class="form-btn" type="submit">submit</button>

        </form>
    </div>
</section>
