<section>
  <div class="container sale-container">
    <h2 class="sale">Sale</h2>
    <div class="photo">
      <ul class="photo-item">
        <li class="photo-set"><img src="" alt="" /></li>
        <li class="photo-set"><img src="" alt="" /></li>
        <li class="photo-set"><img src="" alt="" /></li>
        <li class="photo-set"><img src="" alt="" /></li>
      </ul>
      <img src="" alt="" />
    </div>
    <div class="product">
      <h3 class="greenlane">Greenlane Watch By Police For MenHT</h3>
      <p class="text">Product tag: PEWJK2227003</p>
      <div class="price">
        <p class="price-big"><b>€700</b></p>
        <p class="price-line">€1000</p>
      </div>
    </div>
    <div class="Description">
      <h4 class="text-one">Description</h4>
      <p class="text">
        Richly detailed with an understated design - the Police Men’s Greenlane
        watch features a versatile multifunction design that fits effortlessly
        into work and play. The steel case is adorned with a semi-transparent
        black dial. The timepiece exhibits a contrast through a black IP
        bracelet with matching crown and pushers.
      </p>
    </div>
    <div class="details">
      <h4 class="text-one">DETAILS & FEATUREStion</h4>
      <p class="text">
        Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal Case
        Material: Metal Features: Multifunction Water Resistant: 5 (ATM) Band
        Colour: Steel
      </p>
    </div>
  </div>
</section>
